* {
  margin: 0;
}

body, html {
    height: 100%;
    background-color: antiquewhite;
    color: rgb(0, 41, 25);

}

hr {
  margin: 1rem;
}

/* Nav */
.nav {
  width: 100%;
  background-color: rgba(250, 235, 215, 0.914);
  position: fixed;
  z-index: 5;
}

.nav-bar li {
  list-style-type: none;
  font-size: 1em;
}

.nav-bar li a {
  text-decoration: none;
  color: rgb(0, 41, 25);
}

/* Sign up - Note: */
.createAccont {
  text-align: center;
  margin: 30px;
}

.signUp-container {   
 position: relative;
 border: 5px solid ;
 margin: auto;
 padding: 50px;
 font-size: 1.2em;
 text-align: center;
 max-width: 600px;
 border-image-source: linear-gradient(120deg, rgb(157, 219, 219), rgb(2, 67, 68));
 border-image-slice: 1;
}

button[type='submit'] {
  background-color: rgb(171, 246, 247);
  border-radius: 5px;
}

/* Landing page */
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/flowerArrangement2.jpeg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: local;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: antiquewhite;
}
.hero-text h1 {
  font-size: 3em;
}
.hero-text p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

button.findGift {
  background-color: rgba(250, 235, 215, 0.729);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1em;
  /* color: rgb(0 98 68); */
  color: rgb(0, 41, 25);

  font-weight: 750;
  border: 5px solid antiquewhite;
  cursor: pointer;
  outline: 1.5px solid rgb(43 208 193 / 69%);
  outline-offset: -5px;
}

button.findGift:hover {
  background-color: rgba(0, 98, 69, 0.517);
  color: antiquewhite;
  border: 5px solid rgb(0 98 68);
  outline: 1.5px solid antiquewhite;
  transform: scale(1.2);
  transition: all 0.3s ease-in;
}

/* Box */
.container {
  height: 95vh;
  width: 100%;
    background-image:
    repeating-linear-gradient(
      rgb(0, 56, 35) 0,
      rgb(0, 41, 25) 50px,
      antiquewhite 50px,
      antiquewhite 100px,
      rgb(0, 41, 25) 100px,
      rgb(0, 41, 25) 150px,
      antiquewhite 150px,
      antiquewhite 200px,
      rgb(0, 41, 25) 200px,
      rgb(0, 41, 25) 250px,
      antiquewhite 250px,
      antiquewhite 300px
    );
  position: relative;
}

section.content {
  height: 80%;
  width: 70%;
  background-color: rgba(255, 145, 0, 0.749);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.whatsHappening {
  height: 80%;
  width: 80%;
  background-color: rgb(199, 223, 220);
  position: absolute;
  border-radius: 5px;
  color: rgb(0, 41, 25);
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

/* Gift Scrolling Images */
.giftScrollImage {
  height: 70vh;
  position: relative;
  left: 50%;
  transform: translate(-50%, 6%);
}


/* Footer */
footer {
  text-align: center;
  color: rgb(0, 41, 25);
  padding: 30px;
  margin: 20px;
}

